<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="scout_mini">
  <xacro:arg name="robot_namespace" default="/" /> 

  <xacro:include filename="$(find scout_mini_description)/urdf/scout_mini_wheel.xacro" />

  <xacro:property name="PI" value="3.1415926535897931"/>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="${PI/2} 0 -${PI/2}"/>
      <geometry>
        <mesh filename="package://scout_mini_description/meshes/body.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.514618 0.3816 0.10357"/>
      </geometry>
    </collision>
  </link>

  <joint name="inertial_joint" type="fixed">
    <parent link="base_link"/>
    <child link="inertial_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="inertial_link">
    <inertial>
      <mass value="60"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="2.288641" ixy="0" ixz="0" iyy="5.103976" iyz="0" izz="3.431465"/>
    </inertial>
  </link>

  <xacro:scout_mini_wheel wheel_prefix="front_left">
    <origin xyz="0.2319755 0.245 -0.100998" rpy="0 0 0" />
    <origin xyz="0 -0.0367485 0" rpy="-${PI/2} 0 0"/>
  </xacro:scout_mini_wheel>

  <xacro:scout_mini_wheel wheel_prefix="front_right">
    <origin xyz="0.2319755 -0.245 -0.099998" rpy="0 0 0"/>
    <origin xyz="0 0.0367485 0" rpy="${PI/2} 0 0"/>
  </xacro:scout_mini_wheel>

  <xacro:scout_mini_wheel wheel_prefix="rear_left">
    <origin xyz="-0.2319755 0.245 -0.100998" rpy="0 0 0" />
    <origin xyz="0 -0.0367485 0" rpy="-${PI/2} 0 0"/>
  </xacro:scout_mini_wheel>

  <xacro:scout_mini_wheel wheel_prefix="rear_right">
    <origin xyz="-0.2319755 -0.245 -0.099998" rpy="0 0 0"/>
    <origin xyz="0 0.0367485 0" rpy="${PI/2} 0 0"/>
  </xacro:scout_mini_wheel>
</robot>