<?xml version="1.0"?>

<robot name="scout_mini_pro" 
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find scout_mini_description)/urdf/scout_mini_base.urdf.xacro" />
    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />

    <xacro:VLP-16 parent="base_link" >
        <origin xyz="0 0 0.3" rpy="0 0 0" />
    </xacro:VLP-16>
    
</robot>
