<launch>
    <arg name="is_scout_mini" default="false" />
    <arg name="simulated_robot" default="false" />
    <arg name="pub_tf" default="false" />
    <arg name="port_name" default="can0" />

    <arg name="base_frame" default="base_link" />
    <arg name="odom_frame" default="odom" />
    <arg name="odom_topic" default="odom" />

    <include file="$(find scout_base)/launch/scout_base.launch">
        <arg name="is_scout_mini" value="$(arg is_scout_mini)" />
        <arg name="simulated_robot" value="$(arg simulated_robot)" />
        <arg name="pub_tf" value="$(arg pub_tf)" />
        <arg name="port_name" value="$(arg port_name)" />

        <arg name="base_frame" value="$(arg base_frame)" />
        <arg name="odom_frame" value="$(arg odom_frame)" />
        <arg name="odom_topic" value="$(arg odom_topic)" />
    </include>

    <group if="$(arg is_scout_mini)">
        <include file="$(find scout_description)/launch/scout_mini_stock.launch" />
    </group>

    <group if="$(eval arg('is_scout_mini') ==false)">
        <include file="$(find scout_description)/launch/scout_v2_stock.launch" />
    </group>

</launch>
